<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meetup | Progress</title>
    

    <link rel="stylesheet" href="/stylesheets/foundation.css" />
    <link rel="stylesheet" href="/stylesheets/footer.css" />
    <link rel="stylesheet" href="/stylesheets/login_style.css" />
    <link rel="stylesheet" href="/foundation-icons/foundation-icons.css" />

    <script type="text/javascript" src="/javascripts/vendor/modernizr.js"></script>


  </head>


  <body>

  <!-- ************************* -->
  <!-- Navigation bar -->
  <!-- ************************* -->

  <div class="fixed">
       <nav class="top-bar" data-topbar="" data-options="sticky_on: large;">
            
            <ul class="title-area">
              <li class="name">
                <h1><a href="/"><img id="button_logo" src="../images/logo2.png"></a></h1>  
              </li>
              <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
            </ul>
            
            
          <section class="top-bar-section" style="left: 0%;">
              <ul class="right">
         
                              <li class="active"><a style="background-color: #FA8900;" href="/registration.html">Sign Up</a></li>
                     
                <li><a href="/login.html">Login</a></li>
              </ul>
          </section>

      </nav>
    </div>

  <!-- ************************* -->
  <!-- Content -->
  <!-- ************************* -->

 <div id="section1" class="sections">

 </br>

    <h2 class="text-center">Progress</h2>

        </br></br>

    <!-- Panel 1   --> 
    <div class="row">
        <div id="my_panel1" class="large-8 small-centered panel text-center">


          </br>
          <div class="row">
              <h5>Group Key:</h5>
              <h3 id="group_key"> <%= group_key %> </h3>
          </div>

          </br>
          </br>
          <h3>Everyone's On Their Way To:</h3>
        </br>

          <center><div class = "row panel callout radius">
              <img src= <%= obj.icon %> width="50" height="50">
              <h4>Rating: <%= obj.rating %></h4>
              <h3><%= obj.name %></h3>
              <h4><%= obj.vicinity %></h4>
              <h5>Latitude: <%= obj.latitude %>, Longitude: <%= obj.longitude %></h5>
 
          </div></center>

          </br>
          <h3>Everyone's Status:</h3>

          <center><div class = "row panel callout radius">
              <h3> mpopatia: Arriving in 7 minutes</h3>
          </div></center>

          <center><div class = "row panel callout radius">
              <h3> maher460: Not moving!</h3>
          </div></center>

          <center><div class = "row panel callout radius">
              <h3> isolta: Already there!</h3>
          </div></center>


        </br>
        <h3>Map to Destination:</h3>
        <img src="https://www.google.com/maps/d/u/0/thumbnail?mid=zbxCbj2T2NL4.kx0KloyXmFr8&hl=en_US"></img>



        </div>


    </div>


 </div>
  
  <!-- ************************* -->
  <!-- Footer -->
  <!-- ************************* -->

  <div class="footer">
     
        <div class="row">
            <div class="large-4 columns links text-center">
                </br></br></br>
                <a href="/about">About</a> &nbsp&nbsp | &nbsp&nbsp 
                <a href="mailto:maher460@gmail.com?Subject=General%20contact" target="_top">Contact</a>
            </div>

            <div class="large-4 columns social text-center">
              </br>
                <a href="https://www.facebook.com" target="_blank"><i class="fi-social-facebook"></i></a>
                <a href="https://twitter.com" target="_blank"><i class="fi-social-twitter"></i></a>
                <a href="https://www.linkedin.com" target="_blank"><i class="fi-social-linkedin"></i></a>
               
            </div>
            <div class="large-4 columns copyright text-center">
              </br></br></br>
                2015 © meetup.com
            </div>
        </div>
      </br></br>
    </div>


  <script type="text/javascript" src="/javascripts/vendor/jquery.js"></script>
  <script type="text/javascript" src="/javascripts/foundation.min.js"></script>

  <script>
    $(document).foundation();
  </script> 
  </body>


</html>